body {
    width: 300px;
    height: 400px;
    font: 100% Helvetica, sans-serif;
    color: #000;
    background-color: yellowgreen;
    text-align: center;

    div {
        background-color: white;
        p {
            
        }
    }

}
